* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #f9f8f8;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background: #6a11cb;
    color: white;
    padding: 20px 10px;
    overflow: hidden;
}

.sidebar a {
    display: block;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
    border-radius: 0 15px 15px 0;
    text-decoration: none;
    
    transition: 0.5s ease-in-out;
    padding: 10px 20px;
    margin-bottom: 5px;
    margin-left: -10px;
}

.sidebar a:hover {
    transition: 0.5s ease-in-out;
    font-size: 1.12em;

    text-decoration: underline;
    color: rgb(48, 47, 47);
}

.sidebar #btnSair {
    background-color: red;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;

    color: white;
    font-weight: 600;
    font-size: 1.15em;
    cursor: pointer;

    transition: 0.4s ease-in-out;
}

.sidebar #btnSair:hover {
    transform: scale(1.06);
    transition: 0.4s ease-in-out;
}

.container {
    width: calc(100% - 250px);
    margin: 50px 50px 150px 300px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #6a11cb;
    padding-bottom: 5px;
}

.metade {
    width: 36vw;
}

#right {
    position: relative;
    bottom: 414px;
    left: 630px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 40px;
}

table th, table td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    position: sticky;
    top: 0;
    z-index: 1;
    
    background-color: #6a11cb;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td[colspan="4"] {
    text-align: center;
    font-style: italic;
    color: #777;
}

#graficoDesempenho {
    max-width: 600px; /* Ajuste conforme necessário */
    max-height: 400px; /* Ajuste conforme necessário */
    display: block;
    position: relative;
    bottom: 400px;
    left: 550px;
    margin-bottom: -300px;
}

#novaNota {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 35vw;
}

#novaNota label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;
}

#novaNota input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#novaNota button {
    padding: 12px 25px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#novaNota button:hover {
    background-color: #4a0e9e;
}

/* Estilização do input de pesquisa */
#searchTerm {
    padding: 8px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 50px;
    transition: border 0.3s ease;
}

#searchTerm:focus {
    border-color: #4a0e9e; /* Cor quando o campo é focado */
    outline: none; /* Remove o contorno padrão */
}

